@model IEnumerable<Event_Management_App.Models.AddEventModel>

@{
    ViewData["Title"] = "Book Event";
    Layout = "_BookingLayout";
}


<div id="eventData">
    @* event cards *@
</div>

<script>

    function getEvents() {

        $.ajax({

            type: "POST",
            url: "/CustomerBooking/CustomerEventList",
            success: function (data) {
                var html = '';
                data.forEach(function (item) {
                    html += '<div class="card" style="width: 18rem; margin: 30px;">';
                    html += '<img src="/addeventimages/' + data + '" class="rounded-image" width="50" height="50" alt="Image" />';
                    html += '<div class="card-body">';
                    html += '<h5 class="card-title"' + item.Category + '<h5/>';
                    html += '<p class="fw-bold">Location: <span class="fw-normal">' + item.Location + '</span></p>';
                    html += '<p class="fw-bold">Capacity: <span class="fw-normal">' + item.Capacity + '</span></p>';
                    html += '<p class="fw-bold">Amount: <span class="fw-normal">' + item.Amount + '</span></p>';
                    html += '<button type="button" class="btn btn-primary me-auto" onclick= "eventOpen(\'show\',' + item.Id + ')" data-bs-toggle="modal" data-bs-target="#eventModal">Show</button>';
                    html += '</div>';
                    html += '</div>';
                });
                $('#eventData').html(html);
            }

        });

    }

</script>

@* <div class="table-responsive">
    <div class="card-body">
        <table class="table table-bordered" id="myTable" style="width:100% !important">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Category)</th>
                    <th>@Html.DisplayNameFor(model => model.Location)</th>
                    <th>@Html.DisplayNameFor(model => model.Capacity)</th>
                    <th>@Html.DisplayNameFor(model => model.Amount)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.Contact)</th>
                    <th>@Html.DisplayNameFor(model => model.ImageFile)</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<script>

    $(document).ready(function () {

        getAddEventList();
    });

    var datatable;

    function getAddEventList() {
        $.ajax({

            type: "Get",
            url: "/CustomerBooking/CustomerListEvent",
            success: function (data) {

                debugger;
                datatable = $('#myTable').DataTable({
                    data: data,
                    columns: [
                        { data: 'Id' },
                        { data: 'Category' },
                        { data: 'Location' },
                        { data: 'Capacity' },
                        { data: 'Amount' },
                        { data: 'Description' },
                        { data: 'Status' },
                        { data: 'Address' },
                        { data: 'Contact' },
                        {
                            data: 'ImagePath', // Assume the data has a property named imageUrl that contains the image path
                            render: function (data, type, row) {
                                // Return an img tag with the image source and some attributes
                                return '<img src="/addeventimages/' + data + '" class="rounded-image" width="50" height="50" alt="Image" />';
                            }
                        },
                        {
                            data: null,
                            render: function (data, type, row) {

                                return '<button type="button" onclick="populateEvent(' + row.Id + ')" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateEventModal">Update</button><button type="button" onclick="deleteEvent(' + row.Id + ')" class="btn btn-danger" >Dalete</button><button type="button" onclick="viewEvent(' + row.Id + ')" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#viewEventModal">View</button>';

                            }
                        },

                    ]
                });

            },
            error: function (textStatus, errorThrown) {
                Success = false;
            }

        });
    }



</script> *@