@model IEnumerable<Event_Management_App.Models.AddEventModel>

@{
    ViewData["title"] = "Event Categories";
    Layout = "_AdminLayout";
}

<div class="col-xl-12" style=" display: flex; justify-content: space-between;">

    <h1>@ViewData["title"]</h1>

    <p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEvent">
            AddEvent
        </button>
    </p>
</div>

<!-- Modal for Add Data -->
<div class="modal fade" id="addEvent" tabindex="-1" aria-labelledby="addEventLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEventLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form action="#" name="add">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Category" class="form-label">Category : </label>
                                <input id="Category" type="text" onblur="validateField('Category')" name="Category" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Location" class="form-label">Location : </label>
                                <input id="Location" type="text" onblur="validateField('Location')" name="Location" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Capacity" class="form-label">Capacity : </label>
                                <input id="Capacity" type="text" onblur="validateField('Capacity')" name="Capacity" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Amount" class="form-label">Amount : </label>
                                <input id="Amount" type="text" onblur="validateField('Amount')" name="Amount" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description : </label>
                                <input id="Description" type="text" onblur="validateField('Description')" name="Description" class="form-control" autocomplete="off" maxlength="50" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Status" class="form-label">Status : </label>
                                <input id="Status" type="text" onblur="validateField('Status')" name="Status" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Address" class="form-label">Address : </label>
                                <input id="Address" type="text" onblur="validateField('Address')" name="Address" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Contact" class="form-label">Contact : </label>
                                <input id="Contact" type="text" onblur="validateField('Contact')" name="Contact" class="form-control" autocomplete="off" maxlength="10" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ImageFile" class="form-label">Image : </label>
                                <input id="ImageFile" name="ImageFile" type="file" class="form-control" autocomplete="off" required />
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" onclick="addEvent()" action="#" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Update Data -->
<div class="modal fade" id="updateEvent" tabindex="-1" aria-labelledby="updateEventModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateEventModalLabel">Update Event Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form>

                    <input hidden id="u_Id" name="Id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Category" class="form-label">Category : </label>
                                <input id="u_Category" type="text" name="Category" class="form-control" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Location" class="form-label">Location : </label>
                                <input id="u_Location" type="text" name="Location" class="form-control" autocomplete="off" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Capacity" class="form-label">Capacity : </label>
                                <input id="u_Capacity" type="text" name="Capacity" class="form-control" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Amount" class="form-label">Amount : </label>
                                <input id="u_Amount" type="text" name="Amount" class="form-control" autocomplete="off" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description : </label>
                                <input id="u_Description" type="text" name="Description" class="form-control" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Status" class="form-label">Status : </label>
                                <input id="u_Status" type="text" name="Status" class="form-control" autocomplete="off" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Address" class="form-label">Address : </label>
                                <input id="u_Address" type="text" name="Address" class="form-control" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Contact" class="form-label">Contact : </label>
                                <input id="u_Contact" type="text" name="Contact" class="form-control" autocomplete="off" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ImageFile" class="form-label">Image : </label>
                                <input id="ImageFile" type="file" name="ImageFile" class="form-control" onchange="previewImage(this)" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3" style="display: flex; flex-direction: column;">
                                <img id="imagePreviewUpdate" src="#" alt="Image Preview" style="max-width: 30%; max-height: 150px; margin-top: 10px; display: none;">
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="updateAddEvent()" class="btn btn-success">Save changes</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal for View Data -->
<div class="modal fade" id="viewAddEventModal" tabindex="-1" aria-labelledby="viewExampleModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewExampleModalLabel">Event View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form>

                    <input id="v_Id" name="Id" hidden />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Category" class="form-label">Category : </label>
                                <input id="v_Category" type="text" name="Category" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Location" class="form-label">Location : </label>
                                <input id="v_Location" type="text" name="Location" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Capacity" class="form-label">Capacity : </label>
                                <input id="v_Capacity" type="text" name="Capacity" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Amount" class="form-label">Amount : </label>
                                <input id="v_Amount" type="text" name="Amount" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description : </label>
                                <input id="v_Description" type="text" name="Description" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Status" class="form-label">Status : </label>
                                <input id="v_Status" type="text" name="Status" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Address" class="form-label">Address : </label>
                                <input id="v_Address" type="text" name="Address" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Contact" class="form-label">Contact : </label>
                                <input id="v_Contact" type="text" name="Contact" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ImageFile" class="form-label">ImageFile : </label>
                                <input id="ImageFile" type="text" name="ImageFile" class="form-control" onchange="previewImage(this)" autocomplete="off" hidden />
                                <div class="mb-3" style="display: flex; flex-direction: column;">
                                    <img id="imagePreviewView" src="#" alt="Image Preview" style="max-width: 30%; max-height: 150px; margin-top: 10px; display: none;">
                                </div>
                            </div>
                        </div>
                        @* <div class="col-md-6">
                        <div class="mb-3" style="display: flex; flex-direction: column;">
                        <img id="imagePreviewView" src="#" alt="Image Preview" style="max-width: 30%; max-height: 150px; margin-top: 10px; display: none;">
                        </div>
                        </div> *@
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>



<div class="table-responsive">
    <div class="card-body">
        <table class="table table-bordered" id="myTable" style="width:100% !important">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Category)</th>
                    <th>@Html.DisplayNameFor(model => model.Location)</th>
                    <th>@Html.DisplayNameFor(model => model.Capacity)</th>
                    <th>@Html.DisplayNameFor(model => model.Amount)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.Contact)</th>
                    <th>@Html.DisplayNameFor(model => model.ImageFile)</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {

        getAddEventList();
    });

    var datatable;

    function getAddEventList() {
        $.ajax({

            type: "Get",
            url: "/AddEvent/ListEvent",
            success: function (data) {

                debugger;
                datatable = $('#myTable').DataTable({
                    data: data,
                    columns: [
                        { data: 'Id' },
                        { data: 'Category' },
                        { data: 'Location' },
                        { data: 'Capacity' },
                        { data: 'Amount' },
                        { data: 'Description' },
                        { data: 'Status' },
                        { data: 'Address' },
                        { data: 'Contact' },
                        {
                            data: 'ImagePath', // Assume the data has a property named imageUrl that contains the image path
                            render: function (data, type, row) {
                                // Return an img tag with the image source and some attributes
                                return '<img src="/addeventimages/' + data + '" class="rounded-image" width="50" height="50" alt="Image" />';
                            }
                        },
                        {
                            data: null,
                            render: function (data, type, row) {

                                return '<div class="btn-group" role="group" aria-label="Basic mixed styles example"><button type="button" onclick="populateEventData(' + row.Id + ')" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateEvent"><i class="fa-solid fa-pen"></i></button><button type="button" onclick="deleteEventData(' + row.Id + ')" class="btn btn-danger" ><i class="fa-solid fa-trash"></i></button><button type="button" onclick="viewEventData(' + row.Id + ')" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#viewAddEventModal"><i class="fa-solid fa-eye"></i></button></div>';
                                // return '<div class="btn-group" role="group" aria-label="Basic mixed styles example"><button type="button" onclick="populateEventData(' + row.Id + ')" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#updateEvent" style="margin-right: 10px;">Edit</button><button type="button" onclick="deleteEventData(' + row.Id + ')" class="btn btn-danger" style="margin-right: 10px;" >Delete</button><button type="button" onclick="viewEventData(' + row.Id + ')" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#viewAddEventModal">Book Event</button></div>';


                            }
                        },

                    ]
                });

            },
            error: function (textStatus, errorThrown) {
                Success = false;
            }

        });
    }

    //Add Data Function
    function addEvent() {

        debugger;

        var eventObj = {
            Category: $('#Category').val(),
            Location: $('#Location').val(),
            Capacity: $('#Capacity').val(),
            Amount: $('#Amount').val(),
            Description: $('#Description').val(),
            Status: $('#Status').val(),
            Address: $('#Address').val(),
            Contact: $('#Contact').val(),
        }

        var formData = new FormData();
        formData.append("model", JSON.stringify(eventObj));
        formData.append("file", $('#ImageFile')[0].files[0]);

        $.ajax({
            url: "/AddEvent/Create",
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            type: "POST",
            success: function (data) {
                debugger;

                $('#addEvent').modal('hide');

                // clearForm();


                Swal.fire({
                    title: "Good job!",
                    text: "Event saved successfully!",
                    icon: "success",
                    button: "Ok",
                });

                datatable.destroy();
                getAddEventList();

            },
            error: function (errorThrown) {
                console.log("Error saving event:", errorThrown);
                Swal.fire("Oops", "An error occurred while saving your data, Please try again later.", "error");
            }
        });
    }

    function previewImage(input) {
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imagePreviewUpdate').attr('src', e.target.result).show();
            };

            reader.readAsDataURL(file);
        } else {
            // Clear the image preview if no file is selected
            $('#imagePreviewUpdate').attr('src', '').hide();
        }
    }

    //function for populating update data
    function populateEventData(Id) {

        debugger;

        $.ajax({

            type: "GET",
            url: "/AddEvent/Populate/" + Id,

            success: function (addevent) {
                debugger;

                // Populate the form with the received employee details
                $('#u_Id').val(addevent.Id);
                $('#u_Category').val(addevent.Category);
                $('#u_Location').val(addevent.Location);
                $('#u_Capacity').val(addevent.Capacity);
                $('#u_Amount').val(addevent.Amount);
                $('#u_Description').val(addevent.Description);
                $('#u_Status').val(addevent.Status);
                $('#u_Address').val(addevent.Address);
                $('#u_Contact').val(addevent.Contact);

                var imagePreview = "/addeventimages/" + addevent.ImagePath;
                $('#imagePreviewUpdate').attr('src', imagePreview).show();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function updateAddEvent() {
        debugger;

        var eventAddID = {
            id: $('#u_Id').val(),
        }

        debugger;

        var addEventData = {
            Category: $('#u_Category').val(),
            Location: $('#u_Location').val(),
            Capacity: $('#u_Capacity').val(),
            Amount: $('#u_Amount').val(),
            Description: $('#u_Description').val(),
            Status: $('#u_Status').val(),
            Address: $('#u_Address').val(),
            Contact: $('#u_Contact').val(),
        };

        debugger;

        var formData = new FormData();
        formData.append("ID", eventAddID.id);
        formData.append("model", JSON.stringify(addEventData));
        formData.append("file", $("#ImageFile")[0].files[0]);

        debugger;

        $.ajax({
            type: "POST",
            url: "/AddEvent/Update",
            data: formData,
            contentType: false,
            processData: false,
            cache: false,

            success: function (data) {

                if (data === "Index") {
                    Swal.fire({
                        title: "Event updated successfully!",
                        text: "close",
                        icon: "success"
                    });

                    $('#updateEvent').modal('hide');
                    datatable.destroy();
                    getAddEventList();

                } else {
                    Swal.fire({
                        title: "Error updating event!",
                        text: "close",
                        icon: "Error"
                    });

                }
            },
            error: function (errormessage) {
                Swal.fire({
                    title: "Error updating event!",
                    text: "close",
                    icon: "Error"
                });
            }
        });
    }

    function viewEventData(eventId) {
        debugger;
        $.ajax({
            type: "GET",
            url: "/AddEvent/Populate?ID=" + eventId,

            success: function (addevent) {
                debugger;

                // Populate the form with the received employee details
                $('#v_Id').val(addevent.Id);
                $('#v_Category').val(addevent.Category);
                $('#v_Location').val(addevent.Location);
                $('#v_Capacity').val(addevent.Capacity);
                $('#v_Amount').val(addevent.Amount);
                $('#v_Description').val(addevent.Description);
                $('#v_Status').val(addevent.Status);
                $('#v_Address').val(addevent.Address);
                $('#v_Contact').val(addevent.Contact);

                var imagePreview = "/addeventimages/" + addevent.ImagePath;
                $('#imagePreviewView').attr('src', imagePreview).show();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function deleteEventData(eventId) {

        debugger;

        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {

            if (result.isConfirmed) {

                $.ajax({
                    type: "GET",
                    url: "/AddEvent/Delete/" + eventId,
                    success: function (result) {

                        datatable.destroy();
                        getEmployeeList();

                        Swal.fire({
                            title: "Deleted!",
                            text: "Your file has been deleted.",
                            icon: "success"
                        });

                    },
                    error: function (errormessage) {

                        Swal.fire({
                            title: "Error Delete employee!",
                            text: "close",
                            icon: "Error"
                        });

                    }
                });

            }
        });
    }

    function clearForm() {
        $('#Category').val("");
        $('#Location').val("");
        $('#Capacity').val("");
        $('#Amount').val("");
        $('#Description').val("");
        $('#Status').val("");
        $('#Address').val("");
        $('#Contact').val("");
    }


    $(function () {

        $("form[name='add']").validate({
            // Specify validation rules
            rules: {

                Category: {
                    required: true,
                    maxlength: 30
                },
                Location: {
                    required: true,
                    maxlength: 10
                },
                Capacity: {
                    required: true,
                    maxlength: 50,
                },
                Amount: {
                    required: true,
                    maxlength: 50
                },
                Description: {
                    required: true,
                    maxlength: 200
                },
                Status: {
                    required: true,
                    maxlength: 30
                },
                Address: {
                    required: true,
                    maxlength: 100
                },
                Contact: {
                    required: true,
                    maxlength: 10
                }
            },
            // Specify validation error messages
            messages: {
                Category: {
                    required: "Please provide a Category!",
                    maxlength: "Your Category must be at max 30 characters long"
                },
                Location: {
                    required: "Please provide a Location!",
                    maxlength: "Your Contact Number must be at max 30 characters long"
                },
                Capacity: {
                    required: "Please provide a Capacity!",
                    maxlength: "Your Capacity must be at max 50 characters long"
                },
                Amount: {
                    required: "Please provide a Amount!",
                    maxlength: "Your Amount must be at max 30 characters long"
                },
                Description: {
                    required: "Please provide a Description!",
                    maxlength: "Your Description must be at max 200 characters long"
                },
                Status: {
                    required: "Please provide a Status!",
                    maxlength: "Your Status must be at max 30 characters long"
                },
                Address: {
                    required: "Please provide a Address!",
                    maxlength: "Your Address must be at max 100 characters long"
                },
                Contact: {
                    required: "Please provide a Contact!",
                    maxlength: "Your Contact must be at max 10 characters long"
                }
            },

            errorClass: "error",
            errorElement: "div",

            submitHandler: function (form) {
                form.submit();
            }
        });


        $("form[name='add'] input[name='Category']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });

        $("form[name='add'] input[name='Location']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });

        $("form[name='add'] input[name='Capacity']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });

        $("form[name='add'] input[name='Amount']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });

        $("form[name='add'] input[name='Description']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });

        $("form[name='add'] input[name='Status']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });

        $("form[name='add'] input[name='Address']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });

        $("form[name='add'] input[name='Contact']").on("blur", function () {
            $("form[name='add']").validate().element($(this));
        });
    });

    function validateField(fieldName) {
        $("form[name='add']").validate().element($("form[name='add'] input[name='" + fieldName + "']"));
    }

</script>